html, body {
    background-color: #fca311;
    color: #0077b6
}
.col {
    width: 100px;
    height: 100px;
    padding-top: 15px;
    text-align: center;
    font-size: 40px;
}
.row {
    width: 400px;
}

.col2 {
    border-left: 2px solid #0077b6;
    border-right: 2px solid #0077b6;
}
.col4 {
    border-top: 2px solid #0077b6;
    border-bottom: 2px solid #0077b6;
   
}
.col5 {
    border: 2px solid #0077b6;
}
.col6 {
    border-top: 2px solid #0077b6;
    border-bottom: 2px solid #0077b6;
}
.col8 {
    border-left: 2px solid #0077b6;
    border-right: 2px solid #0077b6;
}
#main {
    margin-top: 200px;
    margin-left: 200px;
}
#play {
    font-size: 2rem;
}
#btn1 {
    margin-bottom: 2px;
    margin-left: 15px;
}
#input1 {
    margin-right: 5px;
}